<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ediro.mapper.member">
  
  <select id="getTime" resultType="string">
    select now()
  </select>
  <insert id="insertMember">
  	insert into member(memberID,memberPwd,companyName,bossName,bizRegNo,postno,
  					address,phone,phone_2,email,homepage,fax) values
  	(#{memberID},#{memberPwd},#{companyName},#{bossName},#{bizRegNo},#{postno},
  	  #{address},#{phone},#{phone_2},#{email},#{homepage},#{fax})
  </insert>
  
    <select id="sel_allMember" resultType="com.ediro.domain.member">
  	select memberNo,
  	       memberID,
  	       memberPwd,
  	       companyName,
  	       bossName,
  	       bizRegNo,
  	       postno,
  		   address,
  		   phone,
  		   phone_2,
  		   email,
  		   homepage,
  		   fax
  	from member order by memberNO		
    </select>
    
  <select id="getMemberIDCnt" resultType="int">
       select count(*) from member where memberID = #{memberID}
  </select>
</mapper>